$text-color-white: white;
$text-color-dark: #1c1c1c;
$text-color-grey: grey;
$text-color-grey2: #e5e5e5;
$text-color-light_green: #a5e65e;
$background-color-dark: #1c1c1c;
$background-color-blue: #0282f9;
$background-color-dark-grey: #303030;
$background-color-green: #55ba59;
$background-color-grey: #f6f6f6;