* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul {
  padding-top: 39.5px;
}

header ul a {
  font-size: 13px;
  font-weight: 700;
  color: #1c1c1c;
  padding-bottom: 54px;
  transition: all 0.25s linear;
}

header ul a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

#jumbotron {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

#jumbotron .tag_series {
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #0282f9;
  padding: 10px 15px;
  position: absolute;
  bottom: -22px;
  left: 50px;
}

main .container_cards {
  background-color: #1c1c1c;
}

main .container_cards .tag_load {
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #0282f9;
  padding: 10px 70px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

main .container_cards .tag_load:hover {
  transform: scale(1.05);
}

main p {
  color: white;
}

main img {
  width: 100%;
}

.container_bg_blue {
  background-color: #0282f9;
}

.container_bg_blue .container_footer_images {
  color: white;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.container_bg_blue .container_footer_images .wrapper_footer_images {
  height: 50px;
}

.container_bg_blue .container_footer_images .wrapper_footer_images img {
  height: 100%;
}

.container_bg_blue .container_footer_images .wrapper_footer_images .special_image {
  height: 65%;
}

footer .jumbo_footer {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: repeat-x;
}

footer .container_footer_list h3 {
  color: white;
}

footer .container_footer_list a {
  color: grey;
}

footer .container_footer_list a:hover {
  color: white;
}

footer .container_logo_dc {
  height: 482px;
}

footer .logo_dc_bg {
  background-image: url("/images/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

footer .footer_socials {
  background-color: #303030;
}

footer .footer_socials .sign_up_footer {
  color: white;
  padding: 10px;
  border: 2px solid #0282f9;
}

footer .footer_socials .sign_up_footer:hover {
  background-color: #0282f9;
}

footer .footer_socials .follow_footer {
  font-size: 20px;
  font-weight: 600;
  color: #0282f9;
}

